<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title><%= appName %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="icon" href="data:;base64,iVBORw0KGgo=">
	</head>
	<body ng-app="<%= appName %>" ng-strict-di ng-cloak>
		<app></app>
	</body>
</html>
