@import 'styles/variables';
@import 'styles/buttons';
@import 'styles/typography';

@import 'grid/grid';

body, html {
	height: 100%;
	background-color: $background-color;
	color: $primary-text-color;
}