.button {
	width: 100%;
	padding: 5px;
	box-sizing: border-box;
	line-height: 2em;
	border: 1px solid black;
	border-radius: 5px;
	-webkit-appearance: none;
	appearance: none;
	font-size: 1em;
	text-align: center;
	margin-bottom: 25px;
	margin-top: 10px;
}

.button--primary {
	border-color: $main-primary-color-dark;
	background-color: $main-primary-color;
	color: white;
}

.button--secondary {
	border-color: $main-accent-color-dark;
	background-color: $main-accent-color;
	color: white;
}