@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
	font-family: 'Roboto', sans-serif;
}

.heading {
	margin: 10px 0;
}

.heading--primary {
	color: $main-primary-color;
}

.heading--secondary {
	color: $main-accent-color;
}

.text {
	font-size: 1em;
}

.text--explanation {
	border-left: 3px solid rgba(0, 0, 0, 0.5);
	background-color: rgba(0, 0, 0, 0.1);
	padding: 10px
}

.text--primary {
	color: $main-primary-color;
}

.text--secondary {
	color: $main-accent-color;
}

.text--size-small {
	font-size: 0.6em;
}

.text--size-large {
	font-size: 1.4em;
}