/* Palette from material palette */
$main-primary-color:        #009688;
$main-primary-color-dark:   #00796B;
$main-primary-color-light:  #B2DFDB;
$main-primary-color-text:   #FFFFFF;
$main-accent-color:         #FF9800;
$main-accent-color-dark:    #F57C00;

$background-color:			#FAFAFA;

$primary-text-color:        #212121;
$secondary-text-color:      #757575;
$divider-color:             #BDBDBD;