@import './variables';
@import './grid.mixins';

/*
 * The container that will house all different rows. 
 * This version of the container has a limited width based on the screen resolution.
 */
.container {
	@include container-fixed;

	@media (min-width: $screen-sm-min) {
		width: $container-sm;
	}
	@media (min-width: $screen-md-min) {
		width: $container-md;
	}
	@media (min-width: $screen-lg-min) {
		width: $container-lg;
	}
}

/*
 * A fluid version of the container that will house all different rows.
 * This version of the container does not limit itself on the screen resolution, but takes as much as is available. 
 */
.container-fluid {
	@include container-fixed;
}

/*
 * The row will house the different columns that will decide how your layout is formatted based on the screen resolution.
 */
.row {
	@include make-row;
}

/*
 * Common styles for small and large grid columns.
 */
@include make-grid-columns;

/*
 * Columns, offsets, pushes, and pulls for extra small devices like smartphones.
 */
@include make-grid(xs);

/*
 * Columns, offsets, pushes, and pulls for the small device range, from phones to tablets.
 */
@media (min-width: $screen-sm-min) {
	@include make-grid(sm);
}

/*
 * Columns, offsets, pushes, and pulls for the desktop device range.
 */
@media (min-width: $screen-md-min) {
	@include make-grid(md);
}

/* 
 * Columns, offsets, pushes, and pulls for the large desktop device range.
 */
@media (min-width: $screen-lg-min) {
	@include make-grid(lg);
}