/*
 * A clear fix because we use floats for the positioning of the different columns at certain resolutions.
 */
@mixin clearfix() {
	&:before,
	&:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}

/*
 * Used to generate the correct number of grid classes given any value of `$grid-columns`.
 */
@mixin make-grid-columns($i: 1, $list: ".col-xs-#{$i}, .col-sm-#{$i}, .col-md-#{$i}, .col-lg-#{$i}") {
	@for $i from (1 + 1) through $grid-columns {
		$list: "#{$list}, .col-xs-#{$i}, .col-sm-#{$i}, .col-md-#{$i}, .col-lg-#{$i}";
	}
	#{$list} {
		box-sizing: border-box;
		// Prevent columns from collapsing when empty
		min-height: 1px;
		padding-left:  ceil(($grid-gutter-width / 2));
		padding-right: floor(($grid-gutter-width / 2));
		position: relative;
	}
}

/*
 * Floats the correct classes accordingly.
 */
@mixin float-grid-columns($class, $i: 1, $list: ".col-#{$class}-#{$i}") {
	@for $i from (1 + 1) through $grid-columns {
		$list: "#{$list}, .col-#{$class}-#{$i}";
	}
	#{$list} {
		float: left;
	}
}

/*
 * Calculates the required width in the case of a normal column class, or the left-margin in case of an offset class.
 * It also creates the no-gutter variant when creating the normal column class.
 */
@mixin calc-grid-column($index, $class, $type) {
	@if ($type == width) and ($index > 0) {
		.col-#{$class}-#{$index} {
			width: percentage(($index / $grid-columns));
		}

		.col-#{$class}--no-gutter {
			padding-left: 0;
			padding-right: 0;
		}
	}
	@if ($type == offset) {
		.col-#{$class}--offset-left-#{$index} {
			margin-left: percentage(($index / $grid-columns));
		}

		.col-#{$class}--offset-right-#{$index} {
			margin-right: percentage(($index / $grid-columns));
		}
	}
}

/*
 * Iterates a set number of times to generate the appropriate amount of CSS classes.
 */
 @mixin loop-grid-columns($columns, $class, $type) {
	@for $i from 0 through $columns {
		@include calc-grid-column($i, $class, $type);
	}
}

/*
 * Generates all css for specific class (such as xs, sm, md or lg).
 */
@mixin make-grid($class) {
	@include float-grid-columns($class);
	@include loop-grid-columns($grid-columns, $class, width);
	@include loop-grid-columns($grid-columns, $class, offset);
}

/*
 * Generates a centered container element
 */
@mixin container-fixed($gutter: $grid-gutter-width) {
	margin-right: auto;
	margin-left: auto;
	padding-left:  ($gutter / 2);
	padding-right: ($gutter / 2);
	@include clearfix;
}

/*
 * Creates a wrapper for a series of columns
 */
@mixin make-row($gutter: $grid-gutter-width) {
	margin-left:  ceil(($gutter / -2));
	margin-right: floor(($gutter / -2));
	@include clearfix;
}