/*
 * Media queries breakpoints
 */
$screen-sm-min:				768px !default;
$screen-md-min:				992px !default;
$screen-lg-min:				1200px !default;

/*
 * Number of columns in the grid.
 */
$grid-columns:              12 !default;

/*
 * Padding between columns. Gets divided in half for the left and right.
 */
$grid-gutter-width:         15px !default;

/*
 * Container sizes
 */
$container-sm:				(720px + $grid-gutter-width) !default;
$container-md:				(940px + $grid-gutter-width) !default;
$container-lg:				(1140px + $grid-gutter-width) !default;